.header {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;

  .profile {
    p {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
    }
    .profile_img {
      width: 4rem;
      height: 4rem;
    }
  }

  .icons {
    .arrow {
      position: absolute;
      right: 20rem;
      top: 2rem;
    }

    .share {
      display: none;
    }
  }
}
// @media (min-width: $mobile) and (max-width: $laptop) 
@media screen and (max-width: 460px) {
  .header {
    .icons {
      .arrow {
        display: none;
      }

      .share {
        display: block;
        position: absolute;
        right: 0rem;
        top: 2rem;
      }
    }
  }
}

@media (min-width: 461px) and (max-width: 1075px) {
    .icons {
        .arrow {
          position: absolute !important;
          right: 1rem !important;
          top: 2rem !important;
        }
    
        .share {
          display: none !important;
        }
      }

}
